*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header
{
       height: 100px;
       width: 100%;
}
.nav
{
    width: 80%;
    height: 100px;
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: end;
}
.nav ul
{
    display: flex;
  
    position: relative;

}
.nav ul li
{
    padding: 20px;
    font-size: 25px;
    list-style: none;

}
.nav ul li a
{
    text-decoration: none;
    color: white;
}
.one{
    display: none;
}

.nav ul:hover .one
{
    display: block;
    position: absolute;
    top: 100px;
}